
<div mat-dialog-content>
    <h3>CREAR USUARIO</h3>
    <mat-form-field appearance="fill">
        <mat-label>User</mat-label>
        <input matInput [(ngModel)]="user">
      </mat-form-field>
      <br>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="btn-cancel" mat-button (click)="onNoClick()">cancelar</button>
  <button class="btn" (click)="submit()" [disabled]="!user && !username" cdkFocusInitial>Crear</button>
</div>