.btn{
    font-size: 14px;
      background: #ff8700;
      color: #FFF;
      display: inline-block;
      min-height: 42px;
      line-height: 42px;
      min-width: 115px;
      padding: 0 10px;
      text-align: center;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border:none;
      position: relative;
      z-index: 1;
      margin-bottom:15px;
  }
  .btn-cancel{
    font-size: 14px;
    background: #777777;;
    color: #FFF;
    display: inline-block;
    min-height: 42px;
    line-height: 42px;
    min-width: 115px;
    padding: 0 10px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:none;
    position: relative;
    z-index: 1;
    margin-bottom:15px;
  }
  mat-form-field{
    width: 100%;
  }
